@use 'sass:math';
@import './breakpoints';
/*
screen types:
    mobile,
    to-desktop
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == to-desktop {
    @media screen and (max-width: $to-desktop) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

@mixin title($_fmin, $_fmax, $_ls, $_text) {
  @include font($_fmin, $_fmax);

  position: relative;
  font-family: $second_font_family;
  letter-spacing: #{$_ls}px;
  background: $_orange_gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before {
    content: $_text;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    text-shadow: 1px 1px 0 $_brown_color, -1px 1px 0 $_brown_color,
      -1px -1px 0 $_brown_color, 1px -1px 0 $_brown_color;
  }
  &::after {
    content: $_text;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    text-shadow: -4px 4px 0px $_brown_shadow-color;
  }
}
