// змінні для кольорів
$_main_color: #f8f9f3;
$_main_bg_color: #7554e5;
$_accent_color: #f7cf6e;
$_yellow_color: #f9e294;
$_brown_color: #915518;
$_brown_shadow-color: #7e3f20;
$_orange_gradient: linear-gradient(
  180deg,
  $_accent_color 0%,
  $_yellow_color 100%
);

// змінні для шрифтів
$font_family: 'Signika Negative', sans-serif;
$second_font_family: 'Spicy Rice', sans-serif;
$third_font_family: 'Roboto', sans-serif;

// змінні для ваги шрифтів
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;

// animations variables
$animation-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-reveal: 500ms cubic-bezier(0.22, -0.03, 0.36, 1.4);
