<!-- ABOUT SECTION -->
<section class="about-section section" id="about">
  <div class="container">
    <!-- ABOUT TITLE -->
    <h2 class="section-title" text="About the game">About the game</h2>
    <!-- ABOUT LIST -->
    <ul class="about-list">
      <!-- ABOUT LIST ITEM 1-->
      <li class="about-list-item">
        <p class="about-item-description">
          Wonka's World of Candy invites players into the fantastical candy
          factory of Willy Wonka to solve match-3 puzzles that unlock new rooms,
          machines, and surprises. With over a thousand levels to play through,
          players can rebuild the chocolate factory to its former glory and
          beyond.
        </p>
        <div class="about-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/about/desktop/about-img1-desktop@1x.webp 1x,
                ./img/about/desktop/about-img1-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/desktop/about-img1-desktop@1x.jpg 1x,
                ./img/about/desktop/about-img1-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/about/mobile/about-img1-mobile@1x.webp 1x,
                ./img/about/mobile/about-img1-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/mobile/about-img1-mobile@1x.jpg 1x,
                ./img/about/mobile/about-img1-mobile@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              
              src="./img/about/mobile/about-img1-mobile@1x.jpg"
              alt="wonka start page"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
       <!-- ABOUT LIST ITEM 2-->
      <li class="about-list-item">
        <p class="about-item-description">
          Each level offers unique candy and confectionery challenges with
          exciting power-ups and combos. As players progress, they can decorate
          the factory to their taste while following a delightful storyline
          featuring classic characters like Charlie, Grandpa Joe, and others
          from the beloved story. Enhanced with vibrant graphics and enchanting
          music, the game promises a magical journey through a world of endless
          sweets and imagination.
        </p>
        <div class="about-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/about/desktop/about-img2-desktop@1x.webp 1x,
                ./img/about/desktop/about-img2-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/desktop/about-img2-desktop@1x.jpg 1x,
                ./img/about/desktop/about-img2-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/about/mobile/about-img2-mobile@1x.webp 1x,
                ./img/about/mobile/about-img2-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/mobile/about-img2-mobile@1x.jpg 1x,
                ./img/about/mobile/about-img2-mobile@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              
              src="./img/about/mobile/about-img2-mobile@1x.jpg"
              alt="wonka puzzle game"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
       <!-- ABOUT LIST ITEM 3-->
      <li class="about-list-item">
        <p class="about-item-description">
          Immerse yourself in the enchanting world of Willy Wonka in "Wonka's
          World of Candy - Match 3". Solve mouth-watering puzzles to rebuild the
          legendary chocolate factory as you wish. Discover new rooms, meet
          delightful characters, and craft the sweetest creations. Perfect for
          fans of puzzles and the timeless tale, this game offers countless
          hours of fun and creativity. Download now and begin your own sweet
          adventure, creating delicious possibilities in every match!
        </p>
        <div class="about-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/about/desktop/about-img3-desktop@1x.webp 1x,
                ./img/about/desktop/about-img3-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/desktop/about-img3-desktop@1x.jpg 1x,
                ./img/about/desktop/about-img3-desktop@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                ./img/about/mobile/about-img3-mobile@1x.webp 1x,
                ./img/about/mobile/about-img3-mobile@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/about/mobile/about-img3-mobile@1x.jpg 1x,
                ./img/about/mobile/about-img3-mobile@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              
              src="./img/about/mobile/about-img3-mobile@1x.jpg"
              alt="wonka gamer path"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
