<section class="section" id="benefits">
  <div class="benefits-container container">
    <div class="benefits-thumb">
      <h2 class="section-title" data-text="Benefits">Benefits</h2>
      <ul class="benefits-list">
        <li class="benefits-item">
          <div class="benefits-wrapper">
            <img
              src="./img/benefits/benefits-star-pic@2x.png"
              alt="benefits-star"
              loading="lazy"
              width="122"
              height="113"
            />
          </div>
          <span class="benefits-description">4,8</span>
        </li>
        <li class="benefits-item">
          <div class="benefits-wrapper">
            <span class="benefits-text" data-text="50000">50000</span>
          </div>
          <span class="benefits-description">Downloads</span>
        </li>
        <li class="benefits-item">
          <div class="benefits-wrapper">
            <span class="benefits-text" data-text="1000+">1000+</span>
          </div>
          <span class="benefits-description">Reviews</span>
        </li>
        <li class="benefits-item">
          <div class="benefits-wrapper wi-fi">
            <svg class="benefits-icon wi-fi" width="56" height="56">
              <use href="./img/sprite.svg#icon-wifi"></use>
            </svg>
            <span class="benefits-text" data-text="or">or</span>
            <svg class="benefits-icon wi-fi" width="56" height="56">
              <use href="./img/sprite.svg#icon-no-wifi"></use>
            </svg>
          </div>
          <span class="benefits-description">Online/Offline</span>
        </li>
      </ul>
    </div>
  </div>
</section>
