<section class="disclaimer-section section">
  <div class="container">
    <!--  DISCLAIMER TITLE-->
    <h2 class="section-title disclaimer-title" data-text="Disclaimer">
      Disclaimer
    </h2>
    <!--  DISCLAIMER DESCRIPTION-->
    <p class="disclaimer-description">
      starluckyventures.com is a platform for having fun. The probability of
      winning playing this game cannot be considered the same as winning in real
      life games. Game is available to adult audiences over 18 years of age.
      enjoy playing this game!
    </p>
  </div>
</section>
