<div class="container">
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="nav-link" href="privacy-policy.html">Privacy policy</a>
      </li>
      <li class="footer-nav-item">
        <a class="nav-link" href="terms-and-conditions.html"
          >Terms and conditions</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer-rights-wrap">
    <p class="footer-rights-text">
      All rights reserved starluckyventures.com | 2024
    </p>
  </div>
</div>
