<section class="gallery-sectin section" id="gallery">
  <div class="gallery-swiper-container container">
    <h2 class="section-title" text="Gallery">Gallery</h2>
    <div class="gallery-swiper-box">
      <!-- Slider main container -->
      <div class="gallery-swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-1-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-1-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-1-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-1-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-1-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-1-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-1-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-1-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-1-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-2-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-2-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-2-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-2-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-2-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-2-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-2-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-2-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-2-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-3-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-3-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-3-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-3-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-3-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-3-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-3-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-3-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-3-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-4-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-4-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-4-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-4-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-4-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-4-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-4-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-4-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-4-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-5-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-5-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-5-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-5-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-5-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-5-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-5-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-5-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-5-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <picture>
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-6-desktop@1x.webp,
                    ./img/gallery/desktop/img-gal-6-desktop@2x.webp
                  "
                  media="(min-width: 1440px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/desktop/img-gal-6-desktop@1x.jpg,
                    ./img/gallery/desktop/img-gal-6-desktop@2x.jpg
                  "
                  media="(min-width: 1440px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-6-mobile@1x.webp,
                    ./img/gallery/mobile/img-gal-6-mobile@2x.webp
                  "
                  media="(min-width: 320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/gallery/mobile/img-gal-6-mobile@1x.jpg,
                    ./img/gallery/mobile/img-gal-6-mobile@2x.jpg
                  "
                  media="(min-width: 320px)"
                  type="image/jpeg"
                />
                <img
                  src="./img/gallery/mobile/img-gal-6-mobile@1x.jpg"
                  alt="Daily Sweet Surprise"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
        </ul>

        <!-- If we need navigation buttons -->
        <button
          class="gallery-swiper-button-next"
          type="button"
          aria-label="navigation to right"
        ></button>
        <button
          class="gallery-swiper-button-prev"
          type="button"
          aria-label="navigation to right"
        ></button>

        <!-- If we need pagination -->
        <div class="gallery-swiper-pagination"></div>
      </div>
    </div>
    <a
      class="home-button home-button--gallery"
      href="https://play.google.com/store/apps/details?id=com.zynga.wonkamatch"
      target="_blank"
      rel="noopener noreferrer"
      title="mobile game wonka"
    >
      <svg class="home-button-icon">
        <use href="./img/sprite.svg#icon-google-play"></use>
      </svg>

      <span>Get it on<span class="home-button-text">Google Play</span></span></a
    >
  </div>
</section>
