<div class="container" id="header-container">
  <!-- NAVIGATION -->
  <nav class="nav">
    <!-- LOGO -->
    <a
      class="nav-logo"
      href="./index.html"
      title="Wonka's World of Candy Match 3"
      aria-label="site logo"
      rel=""
    >
      <div class="nav-logo-thumb">
        <picture>
          <source
            srcset="
              ./img/logo/desktop/logo-desktop@1x.webp 1x,
              ./img/logo/desktop/logo-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/logo/desktop/logo-desktop@1x.jpg 1x,
              ./img/logo/desktop/logo-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/logo/mobile/logo-mobile@1x.webp 1x,
              ./img/logo/mobile/logo-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/logo/mobile/logo-mobile@1x.jpg 1x,
              ./img/logo/mobile/logo-mobile@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="nav-logo-icon"
            src="./img/logo/mobile/logo-mobile@1x.jpg"
            alt="site logo"
            loading="lazy"
          />
        </picture>
      </div>
      <p class="nav-logo-text">Wonka's World of Candy Match 3</p>
    </a>
    <!-- NAV LIST -->
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#about">About the Game</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#how-to-play">How to Play</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#reviews">Reviews</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#benefits">Benefits</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-list-link" href="./index.html#gallery">Gallery</a>
      </li>
    </ul>
  </nav>
  <!-- BURGER MENU -->
  <button
    class="menu-button js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
    aria-label="Menu open button"
    data-menu-open-btn
  >
    <svg
      class="menu-icon"
      width="20"
      height="20"
      aria-controls="mobile-menu"
      aria-expanded="false"
      role="img"
    >
      <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
</div>
<!-- OVERLAY -->
<div class="overlay js-menu-container">
  <div class="container overlay-container">
    <div class="overlay-wrapper">
      <button class="menu-button js-close-menu" type="button">
        <svg
          class="menu-icon"
          width="20"
          height="20"
          aria-label="mobile menu switcher"
        >
          <use href="./img/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <!-- MOBILE NAVIGATION -->
    <ul class="menu-list" id="mobile-menu">
      <li class="menu-list-item">
        <a class="menu-list-link js-link js-close-menu" href="./index.html#home"
          >Home</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-list-link js-link js-close-menu"
          href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-list-link js-link js-close-menu"
          href="./index.html#how-to-play"
          >How to Play</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-list-link js-link js-close-menu"
          href="./index.html#reviews"
          >Reviews</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-list-link js-link js-close-menu"
          href="./index.html#benefits"
          >Benefits</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-list-link js-link js-close-menu"
          href="./index.html#gallery"
          >Gallery</a
        >
      </li>
    </ul>
  </div>
</div>
