<section class="home-section section">
  <div class="container home-section-container">
    <div class="home-title-wrapper">
      <picture>
        <source
          srcset="
            ./img/hero/desktop/title-desktop@1x.webp 1x,
            ./img/hero/desktop/title-desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/desktop/title-desktop@1x.png 1x,
            ./img/hero/desktop/title-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/hero/mobile/title-mobile@1x.webp 1x,
            ./img/hero/mobile/title-mobile@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/mobile/title-mobile@1x.png 1x,
            ./img/hero/mobile/title-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="teacher-icon"
          src="./img/hero/mobile/title-mobile@1x.png"
          alt="site main title"
          loading="lazy"
        />
      </picture>
    </div>

    <!-- <div class="home-content">
      <picture class="home-picture">
        <source
          srcset="
            ./img/hero/desktop/hero-pict1-desktop@1x.webp 1x,
            ./img/hero/desktop/hero-pict1-desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/desktop/hero-pict1-desktop@1x.png 1x,
            ./img/hero/desktop/hero-pict1-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/hero/mobile/hero-pict1-mobile@1x.webp 1x,
            ./img/hero/mobile/hero-pict1-mobile@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/mobile/hero-pict1-mobile@1x.png 1x,
            ./img/hero/mobile/hero-pict1-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="teacher-icon"
          src="./img/hero/mobile/hero-pict1-mobile@1x.png"
          alt="puzzles game on iphone"
          loading="lazy"
        />
      </picture>

      <picture class="home-picture">
        <source
          srcset="
            ./img/hero/desktop/hero-pict2-desktop@1x.webp 1x,
            ./img/hero/desktop/hero-pict2-desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/desktop/hero-pict2-desktop@1x.png 1x,
            ./img/hero/desktop/hero-pict2-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/hero/mobile/hero-pict2-mobile@1x.webp 1x,
            ./img/hero/mobile/hero-pict2-mobile@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/hero/mobile/hero-pict2-mobile@1x.png 1x,
            ./img/hero/mobile/hero-pict2-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="teacher-icon"
          src="./img/hero/mobile/hero-pict2-mobile@1x.png"
          alt="puzzles game on iphone"
          loading="lazy"
        />
      </picture>
    </div> -->

    <a
      class="home-button"
      href="https://play.google.com/store/apps/details?id=com.zynga.wonkamatch"
      target="_blank"
      rel="noopener noreferrer"
      title="mobile game wonka"
    >
      <svg class="home-button-icon">
        <use href="./img/sprite.svg#icon-google-play"></use>
      </svg>

      <span>Get it on<span class="home-button-text">Google Play</span></span></a
    >
    <h2 class="section-title home-subtitle" text="Disclaimer">Disclaimer</h2>
    <p class="home-description">
      STARLUCKYVENTURES.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
      WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL
      LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE.
      ENJOY PLAYING THIS GAME!
    </p>
  </div>
</section>
