<section class="section" id="reviews">
  <div class="reviews-container container">
    <h2 class="section-title" text="Reviews">Reviews</h2>
    <div class="reviews-swiper-box">
      <!-- Slider main container -->
      <div class="reviews-swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper">
          <!-- Slides -->
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              Absolutely addictive! Love the colorful levels and the fun
              storyline. It’s more than just matching!
            </p>
            <p class="review-user">CandyCrusher101</p>
          </li>
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              A sweet twist on match-3 games. Decorating the factory is my
              favorite part.
            </p>
            <p class="review-user">ChocoFanatic56</p>
          </li>
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              Great for all ages! My kids and I enjoy playing and seeing what’s
              next in the factory.
            </p>
            <p class="review-user">FamilyGamer88</p>
          </li>
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              The graphics are fantastic, and the puzzles are challenging but
              fair. Keeps me coming back!
            </p>
            <p class="review-user">PuzzleMaster99</p>
          </li>
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              I really feel like I’m part of the Willy Wonka story. So many
              creative levels!
            </p>
            <p class="review-user">BookLover415</p>
          </li>
          <li class="review-item__slide swiper-slide">
            <p class="review-text">
              Engaging and beautifully designed. The events are super fun too!
            </p>
            <p class="review-user">SweetToothSam</p>
          </li>
        </ul>
        <!-- Navigation buttons -->
        <button
          class="reviews-swiper-button-next"
          type="button"
          aria-label="navigation to right"
        ></button>
        <button
          class="reviews-swiper-button-prev"
          type="button"
          aria-label="navigation to left"
        ></button>
        <!-- Pagination -->
        <div class="reviews-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
