.about-section {
  text-align: center;
}
.about-section .section-title {
  margin-bottom: 52px;
}

.about-list-item {
  @include media(desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.about-list-item:not(:last-child) {
  margin-bottom: 36px;
  @include media(desktop) {
    margin-bottom: 54px;
  }
}

.about-item-description {
  text-align: start;
  margin-bottom: 11px;
  @include media(desktop) {
    @include font(24, 30);
    font-weight: 400;
  }
}

.about-img-wrapper {
  border-radius: 8px;
  border: 2px solid $_yellow_color;
  overflow: hidden;
  @include media(desktop) {
    flex-shrink: 0;
    max-width: 744px;
    border-radius: 24px;
  }
}
