.about-section {
  text-align: center;
}

.about-section .container {
  position: relative;
  &::after {
    @include blik(-80, 49, 50, 282);
  }
}

.about-list-item {
  position: relative;
  @include media(desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    @include media(desktop) {
      &::after {
        display: none;
      }
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  &:nth-child(1) {
    &::after {
      @include blik(229, 186, 0, 0);
    }
    @include media(desktop) {
      &::after {
        display: none;
      }
    }
  }
  &:nth-child(2) {
    &::after {
      @include blik(268, -26, 0, 0);
    }
    @include media(desktop) {
      &::after {
        display: none;
      }
    }
  }
  &:nth-child(3) {
    &::after {
      @include blik(344, 159, 0, 0);
    }
    @include media(desktop) {
      &::after {
        display: none;
      }
    }
  }
}

.about-list-item:not(:last-child) {
  margin-bottom: 36px;
  @include media(desktop) {
    margin-bottom: 54px;
  }
}

.about-item-description {
  text-align: start;
  margin-bottom: 11px;
  @include media(desktop) {
    @include font(24, 30);
    font-weight: 400;
  }
}

.about-img-wrapper {
  border-radius: 8px;
  border: 2px solid $_yellow_color;
  overflow: hidden;
  @include media(desktop) {
    flex-shrink: 0;
    max-width: 744px;
    border-radius: 24px;
  }
}
