.benefits-container {
  position: relative;
  &::before {
    @include blik();
    top: 800px;
    left: 50%;
    transform: translateX(calc(-50% + 70px));
  }
  &::after {
    @include blik();
    top: -40px;
    left: 50%;
    transform: translateX(calc(-50% - 70px));
    @include media(desktop) {
      top: 0px;
      left: 50%;
      transform: translateX(calc(-50% + 350px));
    }
  }
  @include media(desktop) {
    &::before {
      display: none;
    }
  }
}

.benefits-thumb {
  position: relative;
  &::before {
    @include blik();
    top: 300px;
    left: 50%;
    transform: translateX(calc(-50% + 110px));
  }
  &::after {
    @include blik();
    top: 580px;
    left: 50%;
    transform: translateX(calc(-50% - 160px));
  }
  @include media(desktop) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;

  @include media(desktop) {
    flex-direction: row;
    gap: 170px;
  }
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include media(desktop) {
    gap: 36px;
  }
}

.benefits-wrapper {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 196px;

  background-color: $_pic_bg_color;
  border-radius: 50%;
  border: 4px solid $_yellow_color;
}

.benefits-wrapper.wi-fi {
  flex-direction: row;
  gap: 12px;
}

.benefits-star {
  width: 122px;
  height: 113px;
}

.benefits-description {
  color: $_yellow_color;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $_brown_color;
  font-family: $second_font_family;
  @include font(24, 24);
  font-style: normal;
  font-weight: $regular;
  line-height: normal;
}

.benefits-text {
  position: relative;
  @include font(40, 40);
  font-weight: $medium;
  background: $_orange_gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;

  &::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    text-shadow: -4px 4px 0 $_brown_shadow-color;
  }
}

.benefits-icon.wi-fi {
  fill: $_yellow_color;
}
