.gallery-swiper {
  // background-color: $_brown_color;
  overflow: hidden;
  border-radius: 16px;
  padding: 2px 2px 40px 2px;
  @include media(desktop) {
    position: relative;
    width: 1296px;
    padding: 20px 110px 50px 110px;
  }
}

.image-slider__slide {
  @include media(desktop) {
    max-width: 1076px;
  }
}

.image-slider__image {
  max-width: 100%;
  height: auto;
  text-align: center;
  outline: 1px solid $_yellow_color;
  border-radius: 16px;
}

.image-slider__image picture {
  max-width: 1076px;
}

.image-slider__image img {
  width: 100%;
  border-radius: 16px;
  content: fit;
  @include media(desktop) {
    max-width: 1076px;
  }
}

.gallery-swiper .gallery-swiper-button-next,
.gallery-swiper .gallery-swiper-button-prev {
  display: none;
  @include media(desktop) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.gallery-swiper .gallery-swiper-button-next {
  right: 40px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-next.png);
  }
}

.gallery-swiper .gallery-swiper-button-prev {
  left: 40px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-prev.png);
  }
}

.gallery-swiper-pagination .swiper-pagination {
  gap: 16px;
}
.gallery-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 20px;
  background: $_main_color;
  opacity: 1;
}

.gallery-swiper .swiper-pagination-bullet-active {
  background-color: $_brown_color;
}
