.gallery-sectin.section {
  padding-bottom: 64px;
  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.gallery-swiper-container.container {
  @include media(desktop) {
    position: relative;
  }
}

.gallery-swiper-box {
  margin: 0 auto;
  width: 288px;
  @include media(desktop) {
    width: 1076px;
  }
}

.gallery-swiper {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  @include media(desktop) {
    width: 100%;
  }
}

.image-slider__slide {
  @include media(desktop) {
    max-width: 1076px;
  }
}

.image-slider__image {
  max-width: 100%;
  height: auto;
  text-align: center;
  border: 1px solid $_yellow_color;
  border-radius: 8px;

  @include media(desktop) {
    border-radius: 16px;
    border: 4px solid $_yellow_color;
  }
}

.image-slider__image picture {
  max-width: 1076px;
}

.image-slider__image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  @include media(desktop) {
    max-width: 1076px;
  }
}

.gallery-swiper .gallery-swiper-button-next,
.gallery-swiper .gallery-swiper-button-prev {
  display: none;
  @include media(desktop) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: transparent;
    outline: 1px solid $_yellow_color;
    border-radius: 50%;
    border: none;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: '';
      display: block;
      width: 48px;
      height: 48px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.gallery-swiper .gallery-swiper-button-next {
  right: 72px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-next.png);
  }
}

.gallery-swiper .gallery-swiper-button-prev {
  left: 72px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-prev.png);
  }
}
.gallery-swiper-button-next.swiper-button-disabled,
.gallery-swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  background-color: transparent;
}

.gallery-swiper-button-next:hover,
.gallery-swiper-button-next:active,
.gallery-swiper-button-prev:hover,
.gallery-swiper-button-prev:active {
  background-color: $_button_hover_bg_color;
}

.gallery-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  @include media(desktop) {
    gap: 28px;
    margin-top: 36px;
  }
}
.gallery-swiper-pagination {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    // margin: 0 !important;
    line-height: 20px;
    background: $_main_color;
    opacity: 1;
  }
}

.gallery-swiper .swiper-pagination-bullet-active {
  background-color: $_brown_color;
}

.home-button.home-button--gallery {
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  @include media(desktop) {
    margin-top: 60px;
  }
}
