header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  min-height: 76px;
  z-index: 50;
  background-color: $_main_bg_color;
  @include media(desktop) {
    padding: 16px 0;
  }
}

header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $_main_color;
  z-index: 1;
  @include media(desktop) {
    height: 2px;
    bottom: -2px;
  }
}

header .container {
  @include media(to-desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.active-page {
  color: $_yellow_color;
}

.hidden-icon {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  transition: transform $animation-fast;
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
  &:focus {
    outline: 1px solid $_yellow_color;
  }
  &:active {
    outline: none;
  }
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.nav-logo-thumb {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform $animation-fast;
  @include media(desktop) {
    width: 94px;
    height: 94px;
    border-radius: 24px;
  }
}

.nav-logo-text {
  display: none;
  color: $_yellow_color;
  text-align: center;

  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: $_brown_color;

  font-family: 'Spicy Rice';
  @include font(16, 22);

  line-height: normal;
  letter-spacing: 0.64px;
  max-width: 125px;

  text-shadow: 1px 1px 0 $_brown_color, -1px 1px 0 $_brown_color,
    -1px -1px 0 $_brown_color, 1px -1px 0 $_brown_color;

  @include media(desktop) {
    display: block;
  }
}

.nav-list {
  display: none;
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: $desktop) {
  .nav-list-link {
    padding: 24px 0px;
    @include font(24, 30);
    letter-spacing: 0.01px;
    display: inline-block;
    font-weight: 600;
    transition: color $animation-fast, transform $animation-fast;
    &:hover,
    &:focus {
      transform: scale(1.02);
      color: $_yellow_color;
    }
    &:focus {
      outline: 1px solid $_yellow_color;
    }
    &:active {
      outline: none;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: $_main_bg_color;

  opacity: 0;
  visibility: hidden;
  transition: opacity $animation-reveal, visibility $animation-reveal;
  pointer-events: none;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 76px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $_main_color;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    min-height: 76px;
    width: 100%;
    margin-bottom: 22px;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}
.overlay-container {
  position: relative;
}
.container.overlay-container {
  flex-direction: column;
}
.menu-list {
  align-self: flex-start;
}
.menu-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-list-link {
  @include font(24, 30);
  letter-spacing: 0.01px;
  font-weight: 600;
  transition: color $animation-fast;
  &:hover,
  &:focus {
    color: $_accent_color;
  }
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: $_main_color;
  transition: transform $animation-fast, color $animation-fast;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:active {
    color: $_accent_color;
  }
}
.menu-icon {
  stroke: currentColor;
}

@media screen and (min-width: $desktop) {
  .menu-button {
    display: none;
  }
}
