.privacy-container {
  padding-bottom: 64px;
  padding-top: 112px;
  font-feature-settings: 'liga' off;
  @include media(desktop) {
    padding-top: 190px;
    padding-bottom: 150px;
    @include font(24, 30);
  }
}

.privacy-title {
  @include title(28, 39, 1.12, attr(text));
  margin-bottom: 36px;
  @include media(desktop) {
    @include title(48, 66, 1.92, attr(text));
  }
}

.privacy-subtitle {
  @include title(24, 33, 0.96, attr(text));
  margin-bottom: 20px;

  &.fixed-width-termination {
    width: 166px;
  }
  &.fixed-width-updates {
    width: 264px;
  }
  @include media(desktop) {
    @include title(32, 44, 1.28, attr(text));
    margin-bottom: 36px;
    &.fixed-width-termination {
      width: auto;
    }
    &.fixed-width-updates {
      width: auto;
    }
  }
}
.privacy-description {
  margin-bottom: 36px;
  @include media(desktop) {
    margin-bottom: 56px;
  }
}
.privacy-section {
  padding: 18px 0px;
  &.first-section {
    padding-top: 0px;
  }
  @include media(desktop) {
    padding: 28px 0;
  }
}

.privacy-item:not(:last-child),
.privacy-text:not(:last-child) {
  margin-bottom: 16px;
}
.privacy-text-accent {
  color: $_yellow_color;
}

.privacy-text.uppercase {
  text-transform: uppercase;
}
