.review-container.container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.swiper-wrap.swiper {
  width: 100%;
  height: 230px;
  padding: 10px 0 24px 16px;

  @include media(desktop) {
    position: relative;
    padding: 64px 2px 2px 2px;
    height: 100%;
  }
}

.review-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  width: 282px;
  height: 180px;
  border-radius: 16px;
  outline: 1px solid $_yellow_color;

  &::before {
    content: '\201D';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $_brown_color;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    @include font(48, 24);
    font-family: $second_font_family;
    color: $_yellow_color;
    font-weight: $regular;
  }
}

.review-text {
  width: 266px;
  color: $_main_color;
  text-align: center;
  font-family: $font_family;
  @include font(16, 24);
  font-style: normal;
  font-weight: $light;
  @include media(desktop) {
    font-weight: $regular;
  }
}

.review-user {
  color: #f8f9f3;

  font-family: $font_family;
  @include font(20, 24);
  font-style: normal;
  font-weight: $regular;
  @include media(desktop) {
    font-weight: $medium;
  }
}

.reviews-swiper-pagination {
  gap: 16px;
  display: block;
  @include media(desktop) {
    display: none;
  }
}
.reviews-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 20px;
  background: $_main_color;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $_brown_color;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  display: none;
  @include media(desktop) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    right: 10px;
    top: 28px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.swiper .swiper-button-next {
  right: 10px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-next.png);
  }
}

.swiper .swiper-button-prev {
  left: 10px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-prev.png);
  }
}
