.reviews-container {
  position: relative;
  &::before {
    @include blik();
    top: -65px;
    left: 50%;
    transform: translateX(calc(-50% + 80px));
  }

  @include media(desktop) {
    &::before {
      display: none;
    }
  }
}

.reviews-swiper-box {
  margin: 0 auto;
  width: 288px;
  padding: 7px 1px 1px 1px;

  overflow: hidden;
  @include media(desktop) {
    padding-top: 78px;
    width: 1296px;
  }
}

.reviews-swiper {
  width: 100%;
  @include media(desktop) {
    position: relative;
  }
}

.review-item__slide {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  width: 100%;
  height: 180px;
  border-radius: 16px;
  outline: 1px solid $_yellow_color;

  &::before {
    content: '\201D';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $_brown_color;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    @include font(48, 24);
    font-family: $second_font_family;
    color: $_yellow_color;
    font-weight: $regular;
  }
}

.review-text {
  width: 266px;
  color: $_main_color;
  text-align: center;
  font-family: $font_family;
  @include font(16, 24);
  font-style: normal;
  font-weight: $light;
  @include media(desktop) {
    font-weight: $regular;
  }
}

.review-user {
  color: #f8f9f3;
  font-family: $font_family;
  @include font(20, 24);
  font-style: normal;
  font-weight: $regular;
  @include media(desktop) {
    font-weight: $medium;
  }
}

.reviews-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

  @include media(desktop) {
    display: none;
  }
}

.reviews-swiper-pagination {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    line-height: 20px;
    background: $_main_color;
    opacity: 1;
  }
}

.reviews-swiper .swiper-pagination-bullet-active {
  background-color: $_brown_color;
}

.reviews-swiper .reviews-swiper-button-next,
.reviews-swiper .reviews-swiper-button-prev {
  display: none;
  @include media(desktop) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    right: 10px;
    top: -78px;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.reviews-swiper .reviews-swiper-button-next {
  right: 10px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-next.png);
  }
}

.reviews-swiper .reviews-swiper-button-prev {
  left: 10px;

  &::after {
    background-image: url(../img/reviews/fluent_arrow-prev.png);
  }
}

.reviews-swiper-button-next.swiper-button-disabled,
.reviews-swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
  background-color: transparent;
}
